<!DOCTYPE html>
<html>
  <head>
    <title>Dyskord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('dragon.png') %>
    
    <script src="https://kit.fontawesome.com/cdaea745f2.js" crossorigin="anonymous">
    </script>

    <script type="text/javascript">
    window.qrcodeURL = "<%= image_url('qrcode.png') %>";
    </script>

    <script type="text/javascript">
    window.narutoURL = "<%= image_url('naruto.png') %>";
    </script>

    <script type="text/javascript">
    window.loginbgURL = "<%= image_url('loginbg.jpg') %>";
    </script>

    <script type="text/javascript">
    window.dyskordURL = "<%= image_url('dyskord.png') %>";
    </script>

    <script type="text/javascript">
    window.dragonURL = "<%= image_url('dragon.png') %>";
    </script>

    <script type="text/javascript">
    window.splashbgURL = "<%= image_url('splashbg.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
