<!DOCTYPE html>
<html>
  <head>
    <title>Dyskord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" type="text/css" href="https://assets.uiowa.edu/css/whitney.css" />

    <script type="text/javascript">
    window.qrcodeURL = "<%= image_url('qrcode.png') %>";
    </script>

    <script type="text/javascript">
    window.loginbgURL = "<%= image_url('loginbg.jpg') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
