<!DOCTYPE html>
<html>
  <head>
    <title>Dyskord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    


    <script type="text/javascript">
    window.qrcodeURL = "<%= image_url('qrcode.png') %>";
    </script>

    <script type="text/javascript">
    window.narutoURL = "<%= image_url('naruto.png') %>";
    </script>

    <script type="text/javascript">
    window.loginbgURL = "<%= image_url('loginbg.jpg') %>";
    </script>

    <script type="text/javascript">
    window.dyskordURL = "<%= image_url('dyskord.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
