<!DOCTYPE html>
<html>
  <head>
    <title>Dyskord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    

    <script src="https://kit.fontawesome.com/cdaea745f2.js" crossorigin="anonymous">
    </script>

    <script type="text/javascript">
    window.qrcodeURL = "<%= image_url('qrcode.png') %>";
    </script>

    <script type="text/javascript">
    window.narutoURL = "<%= image_url('naruto.png') %>";
    </script>

    <script type="text/javascript">
    window.loginbgURL = "<%= image_url('loginbg.jpg') %>";
    </script>

    <script type="text/javascript">
    window.dyskordURL = "<%= image_url('dyskord.png') %>";
    </script>

    <script type="text/javascript">
    window.facebookURL = "<%= image_url('facebook.svg') %>";
    </script>

    <script type="text/javascript">
    window.twitterURL = "<%= image_url('twitter.svg') %>";
    </script>

    <script type="text/javascript">
    window.instagramURL = "<%= image_url('instagram.svg') %>";
    </script>

    <script type="text/javascript">
    window.languagesURL = "<%= image_url('languages.svg') %>";
    </script>

    <script type="text/javascript">
    window.splashbgURL = "<%= image_url('splashbg.gif') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
